<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.0" targetFramework="net48" />
  <package id="FluentValidation" version="8.6.2" targetFramework="net48" />
  <package id="FluentValidation.ValidatorAttribute" version="8.6.1" targetFramework="net48" />
  <package id="MaterialIcons" version="1.0.3" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
</packages>